<!DOCTYPE html>
<html>
<head>    
    {% include 'commomHead.html' %}
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h1>Cadastro de Personagem</h1>
    <form method="POST" action="/cadastrar">
        <div class="mb-3">
          <label class="form-label">Nome</label>
          <input type="text" class="form-control" id="nome" name="nome">          
        </div>
        <div class="mb-3">
          <label  class="form-label">Vida</label>
          <input type="number" class="form-control" id="vida" name="vida">
        </div>
        <div class="mb-3">
          <label  class="form-label">Cd</label>
          <input type="number" class="form-control" id="cd" name="cd">          
        </div>
        <button type="submit" value="Cadastrar" class="btn btn-primary">Submit</button>
      </form>
    </div>
</body>
</html>
