<!DOCTYPE html>
<html>
<head>
    {% include 'commomHead.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">    
    <script>
        function confirmarExclusao(id) {
            if (confirm('Tem certeza que deseja excluir este Personagem?')) {
                window.location.href = '/excluir/' + id;
            }
        }
        function editar(id) {
            window.location.href = '/page_editar/' + id;
        }
    </script>
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Consulta de Personagens</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Vida</th>
                <th>CD</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for p in personagem %}
            <tr>
                <td>{{ p[0] }}</td>
                <td>{{ p[1] }}</td>
                <td>{{ p[2] }}</td>
                <td>{{ p[3] }}</td>
                <td>
                    <button onclick="confirmarExclusao({{ p[0] }})">
                        Excluir
                    </button>
                    <button onclick="editar({{ p[0] }})">
                        Editar
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
