<!DOCTYPE html>
<html lang="pt-br">
<head>    
        {% include 'commomHead.html' %}    
<body>
    {% include 'navbar.html' %}
    <div class="container">
    <h1>Edit Battle</h1>
    <form action="/editar" method="post">
        <input type="hidden" name="id" value="{{ data[0] }}">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" value="{{ data[1] }}" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" name="email" value="{{ data[2] }}" required>
        <br>
        <label for="senha">Senha:</label>
        <input type="text" name="senha" value="{{ data[3] }}" required>
        <br>
        <button type="submit">Atualizar</button>
    </form>
    <a href="/consulta">Cancelar</a>
    </div>
</body>
</html>
