<!DOCTYPE html>
<html>
<head>
  {% include 'commom_head.html' %}
    <link href="{{ url_for('static', filename='/my_style.css') }}" rel="stylesheet">    
</head>
<body>    
  {% include 'navbar.html' %}
    <div class="container table-container">
        <div class="table-responsive">
            <table class="table">
                <thead>                
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Vida</th>                    
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody id="table-body">
                {% for num in [1,2,3,4,5,6] %}   
                <tr>
                    <th class="col-1" scope="row">{{num}}</th>
                    <td class="col-2">Goblin</td>
                    <td>
                        <div class="progress-container"><text class="progress-text">30</text>
                            <progress class="health" value="1000" max="5000"></progress>   
                            <button class="btn btn-primary btn-sm" onclick="changeHealth(this, -1)">-1</button>
                            <button class="btn btn-primary btn-sm" onclick="changeHealth(this, -5)">-5</button>
                            <button class="btn btn-primary btn-sm" onclick="changeHealth(this, -10)">-10</button> ||
                            <button class="btn btn-primary btn-sm" onclick="changeHealth(this, 1)">+1</button>
                            <button class="btn btn-primary btn-sm" onclick="changeHealth(this, 5)">+5</button>
                            <button class="btn btn-primary btn-sm" onclick="changeHealth(this, 10)">+10</button>
                        </div>                        
                    </td>                    
                    <td class="col-1">
                        <button class="btn btn-primary btn-sm btn-up">↑</button>
                        <button class="btn btn-secondary btn-sm btn-down">↓</button>
                    </td>                    
                </tr>
                {% endfor %}          
                </tbody>
            </table>
        </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <script src="{{ url_for('static', filename='/js_move_table.js') }}"></script>
</body>
</html>